<button type="button" name="button" (click)="getInfoFromServiceClass1()">Employee1</button>
<ul class="list-group">
    <li *ngFor = "let Info of infoReceived1" class="list-group-item">{{Info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)="getInfoFromServiceClass2()">Employee2</button>
<ul class="list-group">
    <li *ngFor = "let Info of infoReceived2" class="list-group-item">{{Info}}</li>
</ul>
<pre></pre>
<button type="button" name="button" (click)="getInfoFromServiceClass3()">Employee3</button>
<ul class="list-group">
    <li *ngFor = "let Info of infoReceived3" class="list-group-item">{{Info}}</li>
</ul>
